h2 {
	margin:1.5rem;
	color:#8B008B;
	text-transform: uppercase;
}

dl {
	margin: 1.5rem;
	padding: 1rem;
}

dt,dd {
	margin-top: 0;
	margin-bottom:1.5rem;
}

dt {
	color:#111;
	float: left;
}

dd {
	padding-left: 5rem;
	color: #9400D3;
	text-transform: uppercase;
}

.background  {
	color:#FFFAF0;
}